<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/settings.css">
    <title>Settings</title>
</head>
<body>
    
    <header class="mb-5">
        <%- include('./templates/navigation') %> 
    </header>


    <main class="d-flex flex-column align-items-center gap-5 p-3">

        <div class="change-password-container settings-container d-flex flex-column align-items-center">
            <p class="fs-5 fw-bold">Change password</p>
            <form name="updatePassword" class="d-flex flex-column align-items-center gap-3" action="/user/settings/newPassword" method="post">
                <input type="password" name="newPassword" placeholder="New password">
                <input type="password" name="currentPassword" placeholder="Confirm current password">
                <input class="btn btn-primary" type="submit" value="Change password">
                <span id="updatePasswordErrorSpan" class="text-danger"></span>
                <span id="updatePasswordSuccessSpan" class="text-success"></span>
            </form>
        </div>

        <div class="change-email-container settings-container d-flex flex-column align-items-center">
            <p class="fs-5 fw-bold">Change Email</p>
            <form name="updateEmail" class="d-flex flex-column align-items-center gap-3" action="/user/settings/newEmail" method="post">
                <input required type="email" name="newEmail" placeholder="New Email">
                <input type="password" name="currentPassword" placeholder="Confirm current password">
                <input class="btn btn-primary" type="submit" value="Change email">
                <span id="updateEmailErrorSpan" class="text-danger"></span>
                <span id="updateEmailSuccessSpan" class="text-success"></span>
            </form>
        </div>

        <div class="change-username-container settings-container d-flex flex-column align-items-center">
            <p class="fs-5 fw-bold">Change Profile Picture</p>
            <form enctype="multipart/form-data" name="updatePicture" method="post" class="d-flex flex-column align-items-center gap-3" action="/user/settings/newPicture">
                <input class="form-control w-75" type="file" name="updatedPicture" id="">
                <input type="password" name="currentPassword" placeholder="Confirm current password">
                <input class="btn btn-primary" type="submit" value="Change Picture">
                <span id="updatePictureErrorSpan" class="text-danger"></span>
                <span id="updatePictureSuccessSpan" class="text-success"></span>
            </form>
        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/js/Ajax.js"></script>
    <script src="/js/updateAjax.js"></script>
</body>
</html>