body {
    background-color: #02020A;
    color: white;
    min-height: 80vh;
}

main {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.info-title {
    color: #E28413;
}

.shows-container{
    width: 100%;
    margin-bottom: 24px;
}


.control {
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

img {
    height: 60%;
}

.card {
    background-color: #1E1E2E;
    margin: 10px;
    max-height: 325px;
}

img, .card {
    border-radius: 10px;
}

@media screen and (min-width: 1000px) {
    main {
        width: 50vw;
        /* background-color: red; */
    }
}