body {
    min-height: 80vh;
}

.info-title {
    color: #E28413;
}

.shows-container{
    width: 100%;
    margin-bottom: 24px;
}


.control {
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

img {
    /* height: 60%; */
}

.card, img {
    width: 250px;
    height: 275px;
    background-color: transparent !important;
}

/* .card {
    width: 325px;
    height: 150px;
    margin: 5px;
} */

/* img {
    width: 100%;
    height: 100%;
} */

.movie-title {
    background-color: rgba(0, 0, 0, 0.486);
}

@media screen and (min-width: 1500px) {
    main {
        width: 50vw;
    }
}