@media screen and (min-height: 1000px) {
    #registerContainer {
        height: 40vh;
    }
}

@media screen and (max-height: 700px) {
    #registerContainer {
        height: 70vh;
    }
}

@media screen and (max-width: 420px) {
    h2{
        font-size: 1.2rem;
    }
}