#registerContainer{
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32vw;
    background-color: white;
    color: black;
    height: 60vh;
}

@media screen and (min-height: 900px) {
    #registerContainer {
        height: 40vh;
    }
}