@media screen and (min-width: 1600px) {
    #registerContainer {
        /* background-color: red; */
        min-height: 50vh;
        width: 23vw;
    }
}

@media screen and (max-height: 700px) {
    #registerContainer {
        height: 70vh;
    }
}

@media screen and (max-width: 420px) {
    h2{
        font-size: 1.2rem;
    }
}