body {
    background-color: #02020A;
    color: white;
}

.card {
    width: 325px;
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
}

.movie-title {
    background-color: rgba(0, 0, 0, 0.486);
}

@media screen and (max-width: 768px) {
    .card {
        width: 250px;
        height: 100px;
    }
}