#totalBanner { 
    width: 100%;
    background-color: #1e1e1e;
}

.card, img {
    width: 250px;
    height: 300px;
    background-color: transparent !important;
}

.overlay-content {
    background-color: rgba(0, 0, 0, 0.552);
}

i {
    color: #E28413;
}

.container {
    background-color: red;
    min-width: 90vw;
}

@media screen and (min-width: 1000px) {
    
}