<nav class="navbar navbar-expand-lg navbar-light px-4 py-2">
    <div class="container-fluid">
        <a class="navbar-brand me-4" href="/" id="mainTitle">MyEverythingList</a>
        <!-- {{!-- Toggle button  for responsivity--}} -->
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse gap-4" id="navbarSupportedContent">
            <form class="d-flex align-items-start" action="/search" method="GET">
                <input name="query" class="form-control me-2" type="search" placeholder="Search movies and series" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>

            <div class="profile-container ms-auto dropdown d-flex align-items-center gap-2">
                <span class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= userName %></span>

                <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/user/list/movies">Movies List</a></li>
                    <li><a class="dropdown-item" href="/user/list/shows">Shows List</a></li>
                    <li><a class="dropdown-item" href="/user/settings">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                </ul>
                <div class="profilePicture d-flex align-items-center justify-content-center">
                    <img id="userPicture" src="<%= profilePictureUrl == `undefined` ?  'https://place-hold.it/300x500' : `${profilePictureUrl}` %>" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>
